<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SH_WSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SH_WSSoap1" />
                <binding name="SH_WSSoap2" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SH_WSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="SH_WSSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44379/SH_WS.asmx" binding="basicHttpBinding"
                bindingConfiguration="SH_WSSoap" contract="SH_WS_Pruebas.SH_WSSoap"
                name="SH_WSSoap" />
            <endpoint address="http://192.168.0.150/SH_WS.asmx" binding="basicHttpBinding"
                bindingConfiguration="SH_WSSoap2" contract="SH_WS_Produccion.SH_WSSoap"
                name="SH_WSSoap1" />
        </client>
    </system.serviceModel>
</configuration>